In [2]:
import pandas as pd 
import numpy as np 
from sklearn import linear_model
from matplotlib import pyplot as plt
from sklearn.impute import SimpleImputer

In [8]:
data =pd.read_excel('test_data.xlsx')
data.head()

   f1  f2   f3   f4
0   1   2  3.0  4.0
1   5   6  NaN  7.0
2   0   6  9.0  NaN

In [10]:
data.isnull().sum()
#returns the number of missing values

f1    0
f2    0
f3    1
f4    1
dtype: int64

In [11]:
data.dropna()

   f1  f2   f3   f4
0   1   2  3.0  4.0

In [17]:
data.dropna(axis='columns')#axis=1 columns
data.dropna(axis=0)#rows

   f1  f2   f3   f4
0   1   2  3.0  4.0

In [18]:
model =SimpleImputer(missing_values = np.nan, 
                     strategy='mean',
                      )

In [27]:
fittingmodel=model.fit(data)
impfitt=model.transform(data)
print(data)
print("\n")
print(impfitt)

   f1  f2   f3   f4
0   1   2  3.0  4.0
1   5   6  NaN  7.0
2   0   6  9.0  NaN


[[1.  2.  3.  4. ]
 [5.  6.  6.  7. ]
 [0.  6.  9.  5.5]]

In [34]:
data = pd.read_csv('iris.csv')
data = pd.read_csv('iris.csv',header=None)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [43]:
data.columns=['jihad','jihad99','jihad1','jihad2','jihad3']
data.head()

   jihad  jihad99  jihad1  jihad2       jihad3
0    5.1      3.5     1.4     0.2  Iris-setosa
1    4.9      3.0     1.4     0.2  Iris-setosa
2    4.7      3.2     1.3     0.2  Iris-setosa
3    4.6      3.1     1.5     0.2  Iris-setosa
4    5.0      3.6     1.4     0.2  Iris-setosa

In [45]:
np.unique(data['class'])

KeyError: 'class'